
td {
    border: 1px solid;
}


.cell {
    width: 35px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.cell.flag {
    background: #F4D03F;
}

.cell.mine.correct {
    background: GREEN;
}

.cell.mine.error {
    background: red;
}

.cell.hidden {
    cursor: pointer;
    background: #CCD1D1;
}

.cell.mine {
    background: red;
    margin: 0;
    padding: 0;
}
.cell.mine img {
    width: 30px;
    margin-bottom: 3px;
}

.cell.revealed {
    background: #02C4BE;
}

.result.lost {
    color: red;
}

.result.win {
    color: green;
}

.gameId {
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.controls {
    float: left;
}

.newGame {
    border: 1px solid;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
}

.loadGame {
    border: 1px solid;
    width: 200px;
    margin: 10px;
    padding: 10px;
}

.game {
    margin: 10px;
    overflow: auto;
}

button {
    margin-top: 10px !important;
}
