<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Minesweeper by Santiago Scolari</title>

    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="jquery-3.4.1.min.js"></script>
    <script src="script.js"></script>
</head>

<body>

<div>Current game ID is <span id="gameId"></span></div>

<div id="board" class="board">
</div>

</body>
</html>