
td {
    border: 1px solid;
}

.board table {
    margin: auto;
}

.cell {
    width: 35px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.cell.flag {
    background: #F4D03F;
}

.cell.mine.correct {
    background: GREEN;
}

.cell.mine.error {
    background: red;
}

.cell.hidden {
    cursor: pointer;
    background: #CCD1D1;
}

.cell.mine {
    background: red;
    margin: 0;
    padding: 0;
}
.cell.mine img {
    width: 30px;
    margin-bottom: 3px;
}

.cell.revealed {
    background: #02C4BE;
}

.result {
    text-align: center;
}
.result.lost {
    color: red;
}

.result.win {
    color: green;
}