
td {
    border: 1px solid;
}

.board table {
    margin: auto;
}

.cell {
    width: 35px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.cell.flag {
    background: orange;
}

.cell.hidden {
    cursor: pointer;
    background: blue;
}

.cell.mine {
    background: red;
    margin: 0;
    padding: 0;
}
.cell.mine img {
    width: 30px;
    margin-bottom: -5px;
}

.cell.revealed {
    background: green;
}